<div class="background-image-itin">

<div class="itin_new">
<h1>Create a new itinerary</h1>

<%= form_for(@itinerary) do |f| %>
  <%= render partial: "formitin", locals: {itinerary: @itinerary, f: f} %>
<% end %>
<h4><%= link_to "<< Return to Itineraries index", itineraries_path %></h4>
</div>

<div class="ItinResult">

</div>
</div>




<script type="text/javascript" charset="utf-8">
  $(function () {
    $('form').submit(function(event) {
      //prevent form from submitting the default way
      event.preventDefault();
      // debugger
      var values = $(this).serialize();
      //
      var posting = $.post('/itineraries', values);
      //
      posting.done(function(data) {

        // debugger
        var itin = data;
        var name_text = "<h3>" + itin["name"] + "<h3>";
        var description_text = "<h3>" + itin["description"] + "<h3>";
        $(".ItinResult").append(name_text);
        $(".ItinResult").append(description_text);

      });
    });
  });
</script>
